/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

table {
  width: 100%;
  border: 1px solid;
}

table th {
  border: 1px solid gray;
}

table td {
  border: 1px solid;
}

h1 {
  text-align: center;
  margin: 12px 44px;
  font-weight: 400;
}

h1 span {
  font-weight: 600;
}

.wrapper h1 {
  margin-bottom: 40px;
}

.datepicker-hidden {
  width: 0;
  border: none;
}

.vertically-stacked {
  display: flex;
  flex-direction: column;
  padding: 8px 15px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: 0 auto;
}

table .actions span {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid red;
}

table .view {
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
  border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
  background: #f16529;
}

.title {
  color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}
